.footer {
	width: 100%;
	height: auto;
	background: #e9ded4;
}
.footer__content{
}
.footer__text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #313131;
	opacity: 0.6;
	padding: 40px 0 72px 0;
}
